.profilePic {
    height: 25px;
    width: 25px;
    cursor: pointer;
    border-radius: 100%;
}

.SingleComment {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
}

.bottomSection {
    display: flex;
    
    flex-direction: row;
}

.commetText{
    width: 90vw;
    word-wrap: break-word;
}

.bottomSection>p {
    flex-basis: 90%;
}

.topSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.userName {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 15px;
}

.fa-circle-xmark:hover {
    color: rgb(89, 92, 92);
    cursor: pointer;
}