.home{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 90vh;
}

.sideBarWrapper{
    width: 30%;
}

.content{
    display: flex;
}

.pagination{
    position: absolute;
    left: 40vw;
    bottom: 0;
}