.post {
  width: 375px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 8px 8px 8px #d8d8d8;
  /* height: 250px; */
}

.postImgContainer{
  width: 40%;
  height: 40%;
}

.postImg {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}

.postAuthor {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 15px;
  color: rgb(49, 49, 49);
  font-weight: 800;
  margin-top: 15px;
}

.postDesc {
  flex-basis: 90%;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  color: #444;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.link{
  transition: all .2s ease-in-out;
}

.link:hover{
  transform: scale(1.01);
}

.footerPost {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.likes {
  flex-basis: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.fa-heart:hover {
  scale: 1.16;
  transition: all 0.3s;
}

.postHeader{
  display: flex;
}


/* Styled post card */

.styledLink{
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: black;
}

.styledLink:hover {
  transform: scale(1.01);
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 1rem 1rem rgba(20, 20, 20, 0.1);
  border-radius: 1em;
  border: 1px solid rgb(139, 137, 137);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag+.tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  width: 100%;
}

.user__info{
  display: flex;
  gap: 10px;
}

.user__image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.user__info>small {
  color: #666;
}

.card_descr{
  max-width: 100%;
  word-wrap: break-word;
  max-height: 300px;
  min-height: 100px;
  text-overflow: ellipsis;
}