.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 8vh - 200px);
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: left;
  margin: 10px 10px 25px 0;
  font-family: "Lora", serif;
  
  font-size: 2rem;
  word-wrap: break-word;
}

.singlePostTitleInput {
  margin: 10px 10px 20px 0;
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: left;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 7px;
  cursor: pointer;
}

.fa-trash-alt{
    color: tomato;
}

.fa-whatsapp{
    color: #0a7b6e;
}

.fa-facebook{
    color:#4267B2;
}

.singlePostInfo {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  font-family: "Varela Round", sans-serif;
  border-bottom: 0.5px solid rgb(234, 234, 234);
  color: #6D9886;
}

.updateCatContainer{
  width: 230px;
}

.singlePostDesc {
  color: #393E46;
  font-size: 1rem;
  line-height: 25px;
  max-width: 90vw;
  word-wrap: break-word;
}

.singlePostDesc::first-letter {
  
  font-size: 26px;
  font-weight: 600;
}

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDescInput:focus {
  outline: none;
}
.singlePostButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}

.updateCatSelectContainer{
  margin: 15px 0px;
  width: 30vw;
}

.singlePostAuthCatContainer{
  display: flex;
  gap: 30px;
}

.singlePostAuthor:hover{
    cursor: pointer;
}

.commentTitle {
  margin-bottom: 15px;
  
}

.commentInput {
  font-size: 12px;
  border: none;
  padding: 20px;
  border: 1px solid rgb(177, 177, 177);
  width: 75vw;
  border-radius: 20px;
}

.commentInput:focus {
  border: 1px solid black;
}

.commentSubmit {
  margin-left: 4%;
  border: none;
  border-radius: 100%;
  font-size: 1rem;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 9px 11px;
}

.commentSubmit:hover {
  background-color: rgb(64, 64, 64);
}