.popoverContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 6px;
    max-height: 500px;
    overflow-y: auto;
    width: max-content;
    position: absolute;
    top: 50px;
    right:0px;
    background-color: #cac8c8;
}